.swiper-container {
  position: relative;
}

.fading-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);

  z-index: 10;
}

.fading-effect-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 10;
}

.fading-effect-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80px;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 10;
}